.footerbg {
  background: black;
  position: fixed;
  bottom: 0;
  padding: 0 0 0 0 !important;
  min-width: 100%;
  left: 0;
}

.footerbg > div > div > a {
  padding: 0.5rem;
}

.form-group {
  text-align: left;
}

.form-elements {
  border: 0.3rem solid white !important;
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.form-elements::placeholder {
  color: white;
}

#text {
  min-height: 12rem !important;
}

.btn-white {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white !important;
  border: 0.3rem solid white !important;
  border-radius: 0px !important;
  font-weight: 600;

}

.btn-white:hover {
  background-color: rgba(255, 255, 255, 1) !important;
  color: black !important;
  border: 0.3rem solid white !important;
  border-radius: 0px !important;

}


.float_left {
  float: left;
}

.float_right {
  float: right;
}

@media(max-width: 768px) {
  .float_left {
    float: none;
  }

  .float_right {
    float: none;
  }
}



.cookies_wrapper {
  position: fixed;
  bottom: 0;
  padding: 1rem 0 1rem 0 !important;
  min-width: 100%;
  left: 0;
  background: black;
  z-index: 99;

}

.btn_cookies {
  margin-top: 0.5rem;
}

.nav-elements:hover::before {
  position: relative;
  height: 2px;
  background: #fff;
  content: ' ';
  display:inline-block;
  transform: translateY(-5px);
  background-color: white;
  width: 100%;
  transition: opacity 0.3s, transform 0.3s;
}


.nav-elements:hover::after {
  position: relative;
  height: 2px;
  background: #fff;
  content: ' ';
  display:inline-block;
  transform: translateY(-5px);
  background-color: white;
  width: 100%;
  transition: opacity 0.3s, transform 0.3s;
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}

.nav-item {
  padding: 2.5rem;
}
