.footerbg {
  background: black;
  position: fixed;
  bottom: 0;
  padding: 0 0 0 0 !important;
  min-width: 100%;
  left: 0;
  z-index: 98;
}

.footerbg > div > div > a {
  padding: 0.5rem;
}

.form-group {
  text-align: left;
}

.form-elements {
  border: 0.3rem solid white !important;
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white !important;
}
.form-elements::placeholder {
  color: white !important;
}

#text {
  min-height: 12rem !important;
}

.btn-white {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white !important;
  border: 0.3rem solid white !important;
  border-radius: 0px !important;
  font-weight: 600;

}

.btn-white:hover {
  background-color: rgba(255, 255, 255, 1) !important;
  color: black !important;
  border: 0.3rem solid white !important;
  border-radius: 0px !important;

}


.float_left {
  float: left;
}

.float_right {
  float: right;
}

@media(max-width: 1024px) {
  .float_left {
    float: none;
  }

  .float_right {
    float: none;
  }

  .logo_mobile {
    display: flex !important;
  }

  .mobile_wrapper {
    display: flex !important;
    justify-content: center;
  }

  .width100 {
    min-width: 100%;
  }

  .lead {
    padding-top: 2rem;
  }

  .nav {
    text-align: left !important;

      float: left;
      padding: 45px 45px;
  }
}

.logo_mobile {
  display: none;
  justify-content: center;
}

.mobile_wrapper {
  display: none;
  min-width: 100%;
}



.cookies_wrapper {
  position: fixed;
  bottom: 0;
  padding: 1rem 0 1rem 0 !important;
  min-width: 100%;
  left: 0;
  background: black;
  z-index: 99;

}

.blackbox  {
  background-color: rgba(0,0,0,0.2);
}

.btn_cookies {
  margin-top: 0.5rem;
}

.nav-elements:hover::before {
  position: relative;
  height: 2px;
  background: #fff;
  content: ' ';
  display: inline-block;
  margin-top: 5px;
  background-color: white;
  width: 100%;
  transition: opacity 0.3s, transform 0.3s;
  color: white;
}


.nav-elements:hover::after {
  position: relative;
  height: 2px;
  background: #fff;
  content: ' ';
  display: inline-block;
  margin-bottom: 15px;
  background-color: white;
  width: 100%;
  transition: opacity 0.3s, transform 0.3s;
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link::before {
  position: relative;
  height: 2px;
  background: #fff;
  content: ' ';
  display:inline-block;
  background-color: white;
  width: 100%;
  transition: opacity 0.3s, transform 0.3s;
  margin-top: 5px;

}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: white !important; 
}


.navbar-light .navbar-nav .active > .nav-link::after {
  position: relative;
  height: 2px;
  background: #fff;
  content: ' ';
  display:inline-block;
  margin-bottom: 15px;
  background-color: white;
  width: 100%;
  transition: opacity 0.3s, transform 0.3s;
}

.nav-elements:hover{
  margin-top: 0px;
  color: white;

}

.navbar-nav {
  flex-direction: row;
  align-items: center;
}

.nav-item {
  padding: 2.5rem;
}

.nav-elements{
  font-size: 1.5rem;
  color: white !important;

}

.navbar-light .navbar-nav .nav-link {
  color: white;
}


